
body{
    background-color:whitesmoke;
    margin: 0px;
}

h1{
    text-align: center;  
}
.container{
   display: flex;
   column-gap: 10px;
}

.sidebar{
    grid-area: sidebar;
    height: 100vw;
    width: 150px;
    background-color:cadetblue;
}
#filter-options{
    list-style-type: none;
    
}
#op{
    width: 100px;
    height: 25px;
    
}
 #add{
    height: 30px;
    width: 50px;
    border-radius: 5px;
    background-color: #006663;
    color: white;
 }

.popup-container{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
}
.popup-container.show{
    pointer-events: auto;
    opacity: 1;
}
.popup{
    background-color: white;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
}