
body{
    margin: 0px;
    background-color: rgb(179, 190, 202);
}

h1{
    text-align: center;  
}
  .filter{
    display: flex;
    justify-content: center;
  }
.container{
   display: flex;
   column-gap: 10px;
}
#filter-options{
    list-style-type: none;
    
}
.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
#search{
    width: 300px;
    border-radius: 5px;
}
#op{
    width: 100px;
    height: 25px;
    
}

#error-msg{
   color: red;
}
.buttons{
    position: relative;
   padding-top: 25px;
}
 #add{   
   width: 60px;
    height: 35px;
    border-radius: 15px;
    position: flex;
    left: 100px;
    top: 15px;
    background-color: rgb(62, 111, 113);
    color: #e3e3e3;

 }
 #delete{
    width: 60px;
    height: 30px;
    position: flex;
    left: 70px;
    top: 15px;
    border-radius: 5px;
    border-color: #fff9f9;
 }
 #edit{
        position: flex;
        width: 60px;
        height: 30px;
        left: 75px;
        top: 16px;
        border-radius: 5px;
        border-color: #fff9f9;
    }
 #main{
    position: flex;
    top: 30px;
 }

  
    #popupBox {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            
        }

        #overlay {
            display: none;
            position: fixed;
            top: 0px;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }
    
        #bookList{
            position: flex;
            padding-top: 50px;
            padding-left: -30px;
            font-size: large;
            font-weight: bold;
            
        }

        
    #list li{
        cursor: pointer;
        padding: 5px;
        margin-bottom: 10px;
        
    }
    #list li:last-child{
        margin-bottom: 0px;
    }
    #list li:hover{
        background-color: #f0f0f0;;
   }
   